<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增、编辑客户</title>
</head>
<body>
    <form th:action="@{/customers/save}" method="post">

        <div th:if="${isAdd} == false">
            <label>id</label>
            <input type="text" name="id" readonly="readonly" th:field="${customer.id}" />
        </div>
        <div>
            <label>name</label>
            <input type="text" name="name" th:field="${customer.name}" />
        </div>
        <div>
            <label>age</label>
            <input type="text" name="age" th:field="${customer.age}" />
        </div>
        <div>
            <label>isUse</label>
            <input type="text" name="isUse" th:field="${customer.isUse}" />
        </div>
        <div>
            <input type="submit" value="提交" />
        </div>
    </form>
</body>
</html>